.container {
  margin-bottom: 40px;
}

.button {
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: rgba(65, 105, 225, 0.8);
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5%;
}

.button:hover {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
